[2016-03-04 12:53] petreeftime opened #4 "flashall.sh script does not work with ostro-image-dev-edison"
The ostro-image-dev-edison image available here: https://download.ostroproject.org/releases/ostro-os/milestone/v1.0.0-pre/ contains a flashall.sh script which does not work. The reason for this is that the disk images contain the -dev- qualifier, but the script is looking for a file without it.

Error from flash.log:
[code]
The file it should be looking for instead:
[code]

[2016-03-04 14:38] jlaako commented on #4
You can use '-i' option for the flashall.sh script to specify the root image name. For example '-i ostro-image-dev'

[2016-03-07 02:42] daweiwu commented on #4
Yes. You need '-i' to flash dev image. I have tried the build 399, flashing with '-i ostro-image-dev' has no problem.

[2016-03-07 07:06] pohly commented on #4
Let's consider this an enhancement: the flashall.sh script that gets published together with a certain image should have that image name as default for the -i option.

[2016-03-07 10:40] jlaako commented on #4
@pohly at the moment, bitbake build results end up in same place under tmp/deploy/images regardless of image type. So things like bootloaders, firmwares and flashing scripts are not image specific and are not even rebuilt for different image types since they don't end up on the image itself.

[2016-03-07 11:08] pohly commented on #4
@jlaako where is ostro-image-dev-edison-2016-03-02_09-51-12-build-399.toflash.tar.bz2 gettting created? Some code somewhere is taking flashall.sh and combining it with ostro-image-dev. That same code could change the default.

[2016-03-07 12:12] igor-stoppa opened #6 "The ostroproject.org website doesn't seem to explain how to use SSTATE_MIRROR"
To speed up the creation of an image, using the SSTATE_MIRROR is fundamental, however I couldn't locate instructions about it.

[2016-03-07 13:01] kad commented on #6
@dbkinder please update doc/howtos/building-images.rst to include uncommenting SSTATE_MIRROR line.

[2016-03-08 00:58] dbkinder commented on #6
PR submitted (https://github.com/ostroproject/meta-ostro/pull/27).  Please review.

[2016-03-08 08:08] jlaako commented on #4
@pohly If one ever uses that tarball in first place at all. If one builds image using bitbake and wants to flash it, it is extremely inconvenient to use the tarball. At least I use just the tmp/deploy/images/edison/flashall/flashall.sh straight.

[2016-03-08 08:44] pohly commented on #4
On Tue, 2016-03-08 at 00:08 -0800, Jussi Laako wrote:

The original reporter did, which is not surprising because the tarballs
are all that is offered by our download pages:
https://download.ostroproject.org/releases/ostro-os/milestone/v1.0.0-pre/

Anyway, Sasha has prepared a fix for this issue:
https://github.com/ostroproject/meta-ostro-bsp/pull/4

[2016-03-08 09:23] jlaako commented on #4
Just that the proposed "fix" is inconsistent when flashing straight from the deploy/images/edison directory which is the main developer use case anyway.

[2016-03-11 08:57] #4 closed

[2016-03-17 18:29] brunobottazzini opened #21 "Autoload i2c-dev module on boot"
Soletta needs the module i2c-dev[1] to be up on boot in order to use i2c.

We have tested it in a Galileo Gen2 confirming this modules won't loading at boot time.

[1] - https://www.kernel.org/doc/Documentation/i2c/dev-interface

[2016-03-21 12:14] poussa opened #22 "Add npm and node.js header files to -dev image"
In order to make Node.JS app development easier we need to include -dev image

- npm
- node.js headers

https://lists.ostroproject.org/pipermail/ostro-dev/2016-March/000130.html

[2016-03-21 12:15] kenchris opened #23 "Edison not fully rebooting after flashing 405"
https://download.ostroproject.org/builds/ostro-os/2016-03-11_05-44-23-build-405/images/edison/

[code]

[2016-03-21 12:39] kenchris commented on #23
This seem to have been due to a bad flashing. Reflashing didn't help, until I did the following:

* Stopping the autoboot process on the Edison and get the the "boot >" prompt
* At the "boot >" prompt, type "run do_flash".

Now reflashing from my PC.

Now it boots and I get to:

[code]

[2016-03-21 12:45] mythi commented on #23
@kenchris OK good that it works. Closing.

[2016-03-21 12:45] #23 closed

[2016-03-21 12:47] poussa commented on #23
We should include this in the documentation..seems to be a issue that other people have also seen. @gvancuts ?

[2016-03-21 18:58] dbkinder commented on #23
@gvancuts at what point in the autoboot process do you have to  stop it (and how do you do that)?

[2016-03-21 21:50] gvancuts commented on #23
I believe it's at that point:
   Out:   serial
   Err:   serial
   Hit any key to stop autoboot:  0

[2016-03-23 12:19] kad commented on #6
Closing, as ostroproject/meta-ostro/pull/27 got merged.

[2016-03-23 12:19] #6 closed

[2016-03-23 12:47] msivosuo commented on #21
@jlaako - could you commentm thanks!

[2016-03-23 12:48] jlaako commented on #21
You could load the modules at the same time as loading Soletta? Add modprobe to Soletta .service file if necessary.

[2016-03-23 17:59] brunobottazzini commented on #21
@jlaako, Wouldn't this be an alternative solution?

Thinking that Ostro was made to be for iot devices and for sure others frameworks might depend on i2c-dev module?

Is there any problem to have this module loaded ?

[2016-03-28 05:48] testkit commented on #23
QA got different result on this. We didn't run into the boot issue with both ostro-os and dev #405 images. But for #411, we run into the boot issue with -dev image only, and the workaround mentioned above not work. @kenchris, will you pls. try #411 Edision -dev image?

[2016-03-29 08:56] kenchris commented on #23
I would like to avoid bricking my device as I need it for events, so if I do this, do you know how to make it work again?

[2016-03-29 09:49] testkit commented on #23
@kenchris, we reinstalled #405 on the Edison with #411 -dev image, and boot #405 successfully. It should not brick your device. But who knows what will happen on your side :) , so don't bother to try #411 if you don't have additional devices around.

[2016-03-30 20:32] #22 closed

[2016-03-30 21:41] brunobottazzini commented on #21
Hey @jlaako, have you got any update about this ?

Regards,

[2016-03-31 07:22] ipuustin commented on #21
In my opinion the kernel module configuration should be a) dynamic b) minimal. Especially in production many people won't likely use i2c-dev. I would rather load the module when needed rather than automatically. You could also drop a configuration file to /usr/lib/modules-load.d/ from your recipe to make systemd-modules-load load i2c-dev module during boot.

[2016-03-31 20:32] mbelluzzo commented on #21
So why you have spidev automatically loaded?

[2016-04-01 06:30] mythi commented on #21
@mbelluzzo On Galileo at least it isn't (just checked).

[2016-04-01 10:58] mbelluzzo commented on #21
I checked on Edison and it was there.

On Fri, Apr 1, 2016, 03:30 Mikko Ylinen <notifications@github.com> wrote:

[2016-04-02 23:05] thiagogcm opened #30 "Error with swupd (core dumped)"
Hi. Just got the Ostro latest build (414) running on a Galileo Gen 2 and this happened when I tried the swupd tool:

root@intel-quark:~# swupd verify
swupd-client software verify 2.87
   Copyright (C) 2012-2015 Intel Corporation
   bsdiff portions Copyright Colin Percival, see COPYING file for details

Verifying version 4140
Unable to download 4140 Manifest.MoM
Inspected 0 files
  0 files did not

[2016-04-03 10:50] pohly commented on #30
I'm not sure what build 414 is. Where did you get it from?

But regardless of that, the problem most likely is (in all cases) that there is no default URL configured for the update stream. I don't think we have published swupd update streams for any of the official images.

I'm currently working on integration meta-swupd into our builds (see
https://github.com/ostroproject/ostro-os/pull/25) and we

[2016-04-03 19:51] kad commented on #30
@pohly build 414 is current build of master branch: https://download.ostroproject.org/builds/ostro-os/

[2016-04-04 06:51] mythi commented on #30
The core dump issue should be fixed (to not core dump if something is not right) and reported in https://github.com/clearlinux/swupd-client/issues

in 414 swupd is not expected to work so we can close this issue.

[2016-04-04 06:51] #30 closed

[2016-04-04 16:55] thiagogcm commented on #21
Sorry for the silly question, I've just started using Ostro and I need the i2c (using sensor htu21d). How can I manually load the i2c-dev module ?

[2016-04-04 17:11] brunobottazzini commented on #21
@thiagogcm, to use i2c-dev module you should type:

`modprobe i2c-dev`

To see what module is loaded type:

`lsmod`

[2016-04-04 21:49] thiagogcm commented on #30
Ok.

@pohly  Taking a look at your PR, shouldn't you include nodejs-runtime-tools as per discussed in PR #78 ?

[2016-04-04 21:53] thiagogcm commented on #21
Awesome. That works!
And giving my humble opinion, I think it should be loaded at boot time. At least in my case I wasn't expecting that it would be disabled by default.

[2016-04-05 06:15] pohly commented on #30
On Mon, 2016-04-04 at 14:49 -0700, Thiago Moura wrote:

That patch is not yet in ostro-os master, which is what my PR is based
on. I'll include it once @mythi updates ostro-os master and I rebase my
PR.

[2016-04-05 14:46] barbieri opened #31 "remove klogd and syslogd from our images"
Ostro already uses systemd-journald, then there is no need to ship klogd and syslogd in our images. These are being added on purpose with busybox-XXX.services in our recipes.

@mythi or @pohly can you take a look? or point someone to look at it?

[2016-04-05 14:55] barbieri opened #32 "provide virtualbox-guest modules and services"
we should provide virtualbox-guest kernel modules and services to improve integration with virtual machine environment, like copying files via mount and so on.

we need to decide if we always do this, if we do via a bundle or we do a specific virtualbox-targeted image.

[2016-04-05 14:58] barbieri opened #33 "systemd: split legacy initd/sysv in its own package"
we should split things related to legacy initd/sysv in its own package and only pull this when needed so this shouldn't be in our reference images. That means all the inictl sockets, sysv and rc-local generators.

My team already provided a patch and it wasn't integrated then we stopped the effort, one can resume based on http://patchwork.openembedded.org/patch/88007/

[2016-04-05 15:00] barbieri opened #34 "systemd: split hostnamed/hostnamectl in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need hostname control, so no need to ship service, daemon and client.

[2016-04-05 15:00] barbieri opened #35 "systemd: split machined/machinectl in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need virtual machine control, so no need to ship services, daemon and client.

[2016-04-05 15:01] barbieri opened #36 "systemd: split logind/loginctl in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need shell logins, so no need to ship service, daemon and client. This should also avoid us pulling "pam" at all.

[2016-04-05 15:02] barbieri opened #37 "systemd: split vconsole-setup in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need vconsole setup to enable TTY logins, so no need to ship service, daemon and client.

[2016-04-05 15:03] barbieri opened #38 "systemd: split networkd/networkctl in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

we already provide connmand/connmanctl and in many cases that is enough, so no need to ship service, daemon and client provided by systemd.

[2016-04-05 15:05] barbieri opened #39 "systemd: split agents in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

systemd provided agents use console to interact with user, not an use case we foresee in IoT or embedded at all, the applications should provide agents on their own.

[2016-04-05 15:07] barbieri opened #40 "systemd: split backlight in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will have screens and backlights, so no need to ship services to load/save them.

[2016-04-05 15:09] barbieri opened #41 "systemd: split timedated/timedatectl in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need manual time/date control, so no need to ship services, daemon and client.

[2016-04-05 15:10] barbieri opened #42 "systemd: split timesyncd/ntp in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will have ntp capabilities, so no need to ship services and daemon.

[2016-04-05 15:11] barbieri opened #43 "systemd: split sleep/hibernate/suspend in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need sleep/hibernate/suspend, so no need to ship services and generators/helpers.

[2016-04-05 15:12] barbieri opened #44 "systemd: split bootchart in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

production devices are unlike to ship any bootchart, so no need to force them to.

[2016-04-05 15:15] barbieri opened #45 "systemd: split udev in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

udev is an important part to systems with dynamic hardware, but not all products are like that and can drop udev in favor of manual handling.

We should do this in a way udev is split but pulled in by default, so people may blacklist it to remove the daemon, services and utilities. This i

[2016-04-05 15:16] barbieri opened #46 "systemd: split sysctl in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need sysctl loading, so no need to ship services and tool.

This is useful for most scenarios and should be pulled in by default, but users should be able to blacklist to save some space.

[2016-04-05 15:17] barbieri opened #47 "systemd: split modules-load in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need kernel module loading, so no need to ship services and tool.

This is useful for most scenarios and should be pulled in by default, but users should be able to blacklist to save some space.

[2016-04-05 15:19] barbieri opened #48 "systemd: split journal in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will need full logging capabilities, so no need to ship journal services, client and daemon.

This is useful for most scenarios and should be pulled in by default, but users should be able to blacklist to save some space. Systemd provides another tools that will redirect

[2016-04-05 15:21] barbieri opened #49 "systemd: split systemctl and other cmdline tools in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

Tools like systemctl, systemd-cgls and systemd-cgtop are only useful in interactive/shell environments. In real products the applications should talk to systemd directly over dbus, thus systemctl doesn't need to be provided.

We may need to adapt some code we have to make that possible, l

[2016-04-05 15:22] barbieri opened #50 "systemd: split sysusers in its own package"
Similar to #33, work was already done http://patchwork.openembedded.org/patch/88007/ and needs to be resumed.

not all products will allow services to create their own users/groups, so no need to ship services and tool.

[2016-04-06 10:05] msivosuo commented on #33
@jku - ping.

[2016-04-06 10:52] jku commented on #33
Cheers.

So the reason for separate packages (instead of just extensive PACKAGECONFIG) is that you want to ship a subset but still want to provide the other stuff as binary packages? That makes sense I suppose...

The latest patchset from Bruno is actually this one http://lists.openembedded.org/pipermail/openembedded-core/2015-May/thread.html#104869
It is quite granular... but I'll take a closer l

[2016-04-06 14:43] mythi commented on #31
@barbieri these seem to be part of default busybox config. I'll check if it's easy to drop them.

[2016-04-06 15:29] pohly commented on #31
On Wed, 2016-04-06 at 07:43 -0700, Mikko Ylinen wrote:

If it's busybox, then we shouldn't bother and instead do it as part of
the toybox integration. Actually, toybox does not implement these
daemons, so they are probably gone already in
https://github.com/pohly/ostro-os/tree/toybox

[2016-04-06 15:35] barbieri commented on #33
yes, that's the rationale. If you use PACKAGECONFIG, then our sstate-mirror will be useless for people willing to tweak.

also, systemd is a single GIT repo with multiple internal projects: udev, timedated, localed... they all live together since they may share some helpers (like `src/shared`) and they test them together, but nothing prevents one to remove/add them individually as I'm proposing.

[2016-04-06 15:38] barbieri commented on #31
https://github.com/ostroproject/ostro-os/blob/master/meta/recipes-core/busybox/busybox.inc indeed. but it's a split package we could skip installing.

[2016-04-06 18:48] mythi commented on #31
@pohly I agree and I was going to add a note about that.

[2016-04-11 21:57] brunobottazzini commented on #21
Any news on this issue ?

[2016-04-12 01:45] yongli3 commented on #21
@brunobottazzini FYI, we are discussing this issue in the below: RFC How to perform the pre-settings before use I2C IIO nodes
https://lists.ostroproject.org/pipermail/ostro-dev/2016-April/date.html

[2016-04-13 09:12] pohly commented on #31
Given that replacement of Busybox with Toybox might be further out than we thought, I also prepared a .bbappend for Busybox which disables the daemons. I'd prefer to do a PR yet (enough going on already).

[2016-04-13 10:27] mythi commented on #31
On Wed, Apr 13, 2016 at 12:12 PM, Patrick Ohly <notifications@github.com>
wrote:

I too had this done while checking what's going on :)

[2016-04-13 11:53] mythi commented on #21
@brunobottazzini In the mean time, I'd propose this gets addressed in meta-soletta/soletta by adding a modules-load.d .conf or doing the modprobe like @jlaako suggested.

I'm closing this

[2016-04-13 11:53] #21 closed

[2016-04-13 13:29] brunobottazzini commented on #21
@mythi, alright will do.

Thanks

[2016-04-14 07:53] yma11 commented on #21
@brunobottazzini why is this issue closed? since the ticket in Ostro Jira is already closed, we will have no way to track if this issue closed too. Thanks, Yan.

[2016-04-14 14:00] brunobottazzini commented on #21
@yma11, I don't know. @mythi has closed it.

I don't have the permissions to reopen it. If someone could do this that would be great :)

[2016-04-14 17:21] barbieri commented on #21
I've mixed feelings about this. What @ipuustin said makes sense, not all products depend on it. however that also applies to soletta: not all users will want that, just people using i2c modules... but the API is always present, so there is no need/way to "declare you want i2c". And pushing this to the application to add that file is cumbersome.

That said, what if we enable i2c-dev automatically i

[2016-04-14 17:32] kad commented on #21
disabling module doesn't make sense on kernel level most of the times. unless really custom bsp is build for very specific device. Dynamic configuration is better. might be not via soleta recipes, but better to install those "load module xyz" via special small recipes that people can switch on/off on image building level if desired. our development images better to ship with spi-dev, i2c-dev and s

[2016-04-14 18:29] barbieri commented on #21
what I said is that kmod-i2c-dev recipe is to install that file. If you blacklist that module, so it doesn't end in the final image, then you also remove the modules-load.

[2016-04-14 18:30] barbieri commented on #21
not to say you can also blacklist/install-/bin/true in modprobe.d/disable-i2c-dev.conf

[2016-04-15 06:03] mythi commented on #32
https://github.com/ostroproject/ostro-os/tree/master/meta-openembedded/meta-oe/recipes-support/vboxguestdrivers

[2016-04-15 06:24] mythi commented on #21
On Thu, Apr 14, 2016 at 8:21 PM, Gustavo Sverzut Barbieri <
notifications@github.com> wrote:

This goes back to the original question. From Ostro perspective this would
mean we always load it. It's easy to append to KERNEL_MODULE_AUTOLOAD and
that gives the modules-load.d .conf files.

To better match the "not all products depend on it", the proposal was to
have soletta install that .conf. However

[2016-04-18 17:24] martinkronberg opened #62 "incorrect path in flashall.bat"
the Ostro image for Intel Edison has typos in the paths in flashall.bat:

"%BASE_DIR%edison-image-edison.hddimg" should be "%BASE_DIR%ostro-image-edison.hddimg"

"%BASE_DIR%edison-image-edison.update.hddimg" should be "%BASE_DIR%ostro-image-edison.update.hddimg"

"%BASE_DIR%edison-image-edison.ext4" should be "%BASE_DIR%ostro-image-edison.ext4"

[2016-04-19 10:30] gvancuts commented on #62
@jlaako can you take a look?

[2016-04-20 09:28] jlaako commented on #62
Yes, I'm looking into this. However, it is not as simple as changing the image name, since we produce various images with different names. I need to modify it to functionally match the Linux script.

[2016-04-22 10:17] jlaako commented on #62
Fixed in https://github.com/ostroproject/meta-ostro-bsp/pull/29

[2016-04-22 11:12] mythi commented on #31
Fixed.

[2016-04-22 11:12] #31 closed

[2016-04-22 13:56] gvancuts opened #70 "Missing a dependency on bmap-tools-native when building .dsk.vdi.zip images"
Generating an Ostro image was failing with the following message below until I manually built bmap-tools-native on my dev machine. One of the customisation that I have in my conf/local.conf file is that I only build .dsk.vdi.zip images. Attempting to build a .dsk image succeeded.

~/ostro-os/build$ bitbake ostro-image-noswupd Loading cache: 100% |###################################################

[2016-04-22 18:11] kad commented on #70
@gvancuts please document what you have custom in conf/local.conf, like specific image types.

[2016-04-25 16:37] gvancuts commented on #70
Here is what I have in my local.conf.

OSTRO_VM_IMAGE_TYPES = "dsk.vdi.zip"

That's the only line I've tweaked (besides uncommenting the line with ostro-os-development.inc)

[2016-04-26 07:58] gvancuts commented on #70
If you want to reproduce this:
- Make sure you don't have bmaptools installed on your dev machine
- ostro-os/build$ bitbake bmap-tools-native -c clean
- ostro-os/build$ bitbake ostro-image-noswupd
-> It fails as described above

To work around the problem:
- ostro-os/build$ bitbake bmap-tools-native
- ostro-os/build$ bitbake ostro-image-noswupd
-> It works

I can copy-paste my entire conf/local.co

[2016-04-26 11:37] ralf-graefe commented on #62
The same applies to the FlashEdison.json which is used by the Phone Flash tool on Windows.

[2016-05-03 12:28] kad commented on #70
It looks like if output type contains more than one chained compression method, original dependencies of image type ("dsk") are lost somehow. @rossburton, any ideas why ?

[2016-05-03 12:50] kad commented on #70
looks like imagetypes_getdepends() is broken currently for chained types and require improvements.

[2016-05-03 17:23] kad commented on #70
@rossburton created draft patch that would be adjusted and send to upstream to fix that issue:
http://git.yoctoproject.org/cgit.cgi/poky-contrib/commit/?h=ross/mut&id=4541f8a777fb1de147ad2aa07dd9f87b027acba9

[2016-05-04 11:22] gvancuts commented on #70
Thanks for the update @kad

[2016-05-04 19:51] rossburton commented on #70
Submitted to oe-core.

[2016-05-06 09:27] wenij opened #86 "bitbake ostro-image-swupd-dev , the default route can't work"
hi ,

Build dsk image with 'bitbake ostro-image-swupd-dev' for Quark platform.
it will create one ve-iodine-node interface with ip address 169.254.54.224, and  its routing will have issue to send out packaet.
What does this  ve-iodine-node interface used for?

===
root@intel-quark:/usr/lib# route -n
Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use Ifa

[2016-05-06 09:31] wenij opened #87 "when build 'ostro-image-swupd' , the python lack Queue module?"
When build with 'ostro-image-swupd', this python module don't include Queue.
I think it should be essential for Python package.
Do you know what package should be include ?

[2016-05-06 09:35] gvancuts commented on #87
Hi @wenij , during my discussion with engineering, it appeared that the non -dev images are really images which contain only the essential packages to boot a system (and not much else). They don't, as an example, include things like iotivity and other packages you may want. The problem you are reporting _may_ be the result of the same policy applied when the content of the core image was defined.

[2016-05-06 09:52] ipuustin commented on #86
@klihub just did some work related to the routing and permission handling of the containerized apps, see https://github.com/01org/meta-intel-iot-security/pull/118. It could be that this is an instance of the same bug?

[2016-05-06 11:14] pohly commented on #87
@gvancuts your explanation is correct. Queue.py gets packaged as python-threading, and that only gets installed in the -dev images as part of the full Python runtime.

The more minimal images happen to have Python, probably because something depends on it, but not the python-threading package. Whether the minimal images have Python or how much of it can't be relied upon, because it is basically an

[2016-05-06 13:36] gabrielschulhof opened #88 "Time zone data is missing from image"
Version:
[code]

Runnning ```timedatectl``` returns ```n/a``` for the timezone, and running ```timedatectl list-timezones``` returns only one: UTC.

This is causing https://github.com/solettaproject/soletta/pull/1987 where we are trying to perform a test to see if soletta is picking up changes in the time zone by recording the current time zone, then attaching a time zone monitor, and then setting

[2016-05-06 13:37] gabrielschulhof commented on #88
So, it would be nice if the time zone data were available on these images and ```timedatectl``` worked properly.

[2016-05-10 08:25] pohly commented on #87
I believe the question was answered, so I'm closing the issue.

[2016-05-10 08:25] #87 closed

[2016-05-10 08:33] pohly commented on #62
@jlaako please not that @ralf-graefe pointed out that problem still exists elsewhere (FlashEdison.json).

[2016-05-11 05:35] nwang2 opened #91 "LAYER_CONF_VERSION needs bump"
bblayers.conf.sample file was recently updated with adding new layer OSTRO_LAYERS += "##OEROOT##/meta-openembedded/meta-gnome"
But config files' (i.e. bblayers.conf.smaple, and layers.conf) version didn't bump. Then users with out-dated conf/bblayer.conf may see build errors.

[2016-05-12 06:40] #91 closed

[2016-05-13 12:47] pksm opened #98 "Can't boot pre-built image on Galileo Gen 2"
When trying to boot from **ostro-image-noswupd-intel-quark-2016-05-02_00-09-47-build-440.dsk** , **ostro-image-noswupd-intel-quark.dsk** or **ostro-image-swupd-dev-intel-quark.dsk**, the process hangs on this point:
     JBD2: no valid journal superblock found
     EXT4-fs (mmcblk0p3): error loading journal

Log from boot process is attached.
[bootLog.txt](https://github.com/ostroproject/ostro-os/

[2016-05-13 13:01] kad commented on #98
How did you flash image to uSD card ?
Have you checked that download for uncompressed dsk file completed successfully ?

[2016-05-13 13:11] pksm commented on #98
All of quoted images were **.dsk.xz** and they all downloaded and uncompressed successfully (sorry I think a cut out the xz part on my previous post).

I've flashed multiple times in different OSes. On Windows I used 7zip (for extration) and  win32diskimager. And on Debian 8.4 I followed the guide on Ostro's documentation.
`$ xzcat <ostro-os-image.dsk.xz> | sudo dd of=/dev/sdb bs=512k`
`$ sync`

[2016-05-13 20:52] kad commented on #70
fix was merged as e13563cdb134a677549db482bd1bfec4cc786af9

[2016-05-13 20:52] #70 closed

[2016-05-18 07:28] klihub commented on #86
That's the IPv4 stateless autoconfiguration (RFC3927) address for the interface. It won't/shouldn't get routed. It is only used as a link-local address. The interface will (should) get assigned another address too, by systemd-networkd. That interface is used towards the container running one of the test/sample apps.

[2016-05-18 10:32] gvancuts commented on #98
I'm unable to reproduce this at all. Can you double-check that the sha256sum of the images you have downloaded match what's posted on our download website (https://download.ostroproject.org/releases/ostro-os/milestone/v1.0.0/images/intel-quark/)?

It looks like some sort of corruption but it's hard to confirm (or even guess when it's happening).

Could you try with a bigger (16GB) SD card too?

[2016-05-20 16:45] pksm commented on #98
Hi Geoffroy,
I was able to successfully run an Ostro image on Galileo, but just when I switched to a class 10 8GB sdCard from Kingston. (In my original post, I tested with two class 4 8GB sdCards from SanDisk).
Do you think this was causing the failure? Unfortunately I don't have other class 4 sdCard to prove this "theory".
Could you tell me what is the class of your sdCard?

[2016-05-23 12:08] gvancuts commented on #98
The SD Card I have used so far is class 10. I have just found a class 4, 8GB SD card and will try it out now. I'll keep you posted.

[2016-05-23 12:26] gvancuts commented on #98
i have just flashed my 4GB SD card (class 4) with https://download.ostroproject.org/releases/ostro-os/milestone/v1.0.0/images/intel-quark/ostro-image-swupd-intel-quark-2016-05-02_00-09-47-build-440.dsk.zip (using bmaptool) and it booted correctly on my Galileo Gen 2 board.

Not sure what is happening with your SD cards, maybe they have too many bad areas?

I searched a bit more and came across thi

[2016-05-23 13:27] pksm commented on #98
Thanks Geoffroy for the help. I'll test them now and will keep you update.

2016-05-23 9:26 GMT-03:00 Geoffroy Van Cutsem <notifications@github.com>:

[2016-05-26 03:21] wanghongjuan opened #108 "Incorrect version message for iotivity-node on Ostro image"
From the latest Ostro image#452(https://download.ostroproject.org/builds/ostro-os/2016-05-19_05-41-13-build-452) get the latest release version of iotivity-node is `1.1.0-2` and show the version is `1.0-r0` in  https://download.ostroproject.org/builds/ostro-os/2016-05-19_05-41-13-build-452/sources/x86_64-ostro-linux/iotivity-node-1.0-r0/. The version is `1.1.0-2` in `iotivity-node-1.0-r0.tar.gz `.

[2016-05-26 07:18] pohly commented on #108
@nagineni looks like you need to set PV in iotivity-node.bb after updating to the more recent source code.

[2016-05-27 21:52] pksm commented on #98
Sorry for the late response. I did the F3 test and my sdcard failed!
So I bought a new 8GB class4 sdcard and it worked! I think my other two
cards weren't bought from a good vendor, they are probably fake.

One last thing I would like to ask you... Does Ostro-OS have a package
manager (like opkg in most yocto images)? If not, how should I add packages
to it?

Thank you

2016-05-23 10:27 GMT-03:00

[2016-05-30 11:47] gvancuts commented on #98
Hi @pksm , thanks for the update, it sounds like we can close this ticket then.

We do not have a package manager in the traditional sense of the term, instead Ostro implements a SW update mechanism (swupd) that has the notion of bundles. Here are some good starting points on the topic:
* https://ostroproject.org/documentation/architecture/software-update.html
* https://ostroproject.org/documentat

[2016-05-31 18:11] js333031 opened #112 "Edison serial port console becomes unresponsive when connected to Linux"
I downloaded and flashed pre-compiled Ostro project image onto Edison. When connected to Edison from Ubuntu, over the serial port, the terminal app becomes unresponsive. I need to disconnect and reconnect to gain access to serial console.

dmesg shows lot of these messages:
[  178.915625] HSU serial 0000:00:04.3: Got LSR irq(0xf8) while using DMA
[  178.916999] HSU serial 0000:00:04.3: Got LSR irq

[2016-05-31 18:30] js333031 opened #113 "Unable to generate dsk.xz file"
I used [these instructions](https://ostroproject.org/documentation/howtos/building-images.html#building-images) to try to bitbake my own image with the goal of using bmaptool to flash my Edison.

I modified my conf/local.conf:
MACHINE ?= "edison"
OSTRO_VM_IMAGE_TYPES = "dsk.xz"

Bitbaked:
bitbake -k ostro-image-noswupd

Images show up in tmp-glibc/deploy/images/edison/ but no file with *dsk* in it

[2016-05-31 19:30] kad commented on #113
Unfortunately flashing for platforms like Edison is not possible with bmaptool.
Edison uses different image formats and flashing mechanisms than dsk image type.

[2016-05-31 20:23] js333031 commented on #113
Thanks for the quick response.

This needs to be properly documented.

[2016-05-31 20:34] js333031 opened #114 "Observation: Using USB 3.0 hub connected to Edison takes long time to flash image"
I have USB 3.0 hub from [Sabrent](http://www.amazon.com/Sabrent-Charging-Ports-Adapter-HB-U930/dp/B00SIQIV04?ie=UTF8&psc=1&redirect=true&ref_=oh_aui_detailpage_o02_s02) connected to USB 3.0 port of my Ubuntu 12.04 LTS development system. No other devices are connected to this hub.

After bitbaking, I see flashall image in deploy/images/edison directory. I extracted the contents of flashall and tri

[2016-05-31 21:13] js333031 commented on #112
If I use Windows host + Tera Term, I don't see the dmesg logs (HSU serial...). The serial console is also stable w/Windows.

[2016-05-31 21:38] js333031 opened #115 "Updating target using ipk packages"
I see that build/tmp-glibc/deploy/ipk/edison contains ipk files. ipk and opkg are not mentioned on https://ostroproject.org.

Does ostro-image-swupd support updating via opkg?

[2016-05-31 21:47] dbkinder commented on #113
So are certain combinations of MACHINE and OSTRO_VM_IMAGE_TYPES are not allowed then?  And no error message is shown in disallowed cases?  Indeed we should document this and update the local.conf.sample too.

The .dsk (and friends) image type only works for intel-corei7-64 and intel-quark MACHINE.
What are the available options for Edison and BeagleBone?

[2016-05-31 22:21] kad commented on #113
Both Edison and BeagleBone has their own image type set by corresponding BSP and don't respect OSTRO_VM_IMAGE_TYPES variables.

[2016-05-31 22:22] dbkinder commented on #113
OK.  I'm updated the building-images.rst file now...

[2016-05-31 22:24] kad commented on #115
No, swupd uses different approach to deal with software updates.
You can read details on how it works here: https://clearlinux.org/documentation/index_sw_update.html
IPK packages that you see in build directory are used internally by Yocto build tools to produce images and not usable for anything else.

[2016-05-31 22:43] js333031 commented on #115
I'm not familiar with swup process from CL. When a SWUPD_BUNDLES and BUNDLE_CONTENTS[feature_one] are defined, are the dependencies automatically brought into the bundle?

For example, I want to create a sftp-server bundle. Will the bundle content include other packages needed by sftp-server? Would IMAGE_FEATURE be an alternative to including sftp-server in a development target image?

Also, what'

[2016-06-01 09:26] gvancuts commented on #115
Hi @js333031 , yes, all dependencies will be resolved at build time and the bundle will include all of them.

You can also add functionalities (like sftp and others) in your image (i.e. without defining them in a bundle), I would recommend you read this section of our documentation on how to do that: https://ostroproject.org/documentation/howtos/building-images.html#installing-additional-packages

[2016-06-01 09:45] gvancuts commented on #114
Hi @js333031 , a couple of quick questions:
- Have you tried the USB 3.0 without the hub?
- Have you tried different ports on the hub?
   Apparently, they are not all equal: https://www.amazon.com/review/R2PLUIAT25RN3M/ref=cm_cr_dp_title?ie=UTF8&ASIN=B00SIQIV04&channel=detail-glance&nodeID=541966&store=pc

Thanks,
Geoffroy

[2016-06-01 12:58] js333031 commented on #115
swupd sounds like it targets a production/deployment env. where required files are well known in advance. Given that in development phases, packages may be needed on the fly, rebuilding the image to include packages is inefficient. I'm used to having package repositories available via web-server and using rpm like tools to do updates on the target without having to reimage the target.

With Ostro,

[2016-06-01 13:21] gvancuts commented on #112
The last time I tried, this was from a Fedora host (and I never saw these). Can you clarify which Ostro image you used so I can give this another go.

[2016-06-01 13:30] gvancuts commented on #115
The three options you list above are the main ones indeed but there are more choices depending on how comfortable you feel with them. A good starting point in the doc is here: https://ostroproject.org/documentation/architecture/architecture-overview.html#ostro-os-development-workflows

In addition to the options mentionned above, you could:
* compile/install additional packages directly on the tar

[2016-06-01 14:05] js333031 commented on #115
Currently, I'm interested in updating target with sftp server, not adding my own layers or developing new packages. I could add the sftp server via local.conf variables. When using Moon Island, I used smart tool which made it easy to update the target using a web server. It took care of installing dependencies. I will check what bundle includes sftp server in Ostro.

Thanks!

[2016-06-01 14:06] js333031 commented on #114
I used other ports on the hub with same slow results. Maybe I have a bad hub although I used it with an external USB HD w/o issues.

[2016-06-01 14:07] js333031 commented on #112
I used [this](https://download.ostroproject.org/releases/ostro-os/milestone/2016-05-02_00-09-47-build-440/) as well as images I'm compiling locally.

[2016-06-01 14:38] js333031 opened #117 "bitbake ostro-image-swupd-pre_installed_content fails"
/media/development/edison/ostro/ostro-os/build$  bitbake ostro-image-swupd-pre_installed_content
Loading cache: 100% |###########################################################################################################################################################################################################################################| ETA:  00:00:00
Loaded 2738 entries from depen

[2016-06-01 14:52] js333031 opened #118 "Using swupd to list packages core-dumps"
root@edison:~# swupd bundle-add -u http://192.168.2.122:8000 --list -V
swupd-client bundle adder 2.87
   Copyright (C) 2012-2015 Intel Corporation
   bsdiff portions Copyright Colin Percival, see COPYING file for details

Aborted (core dumped)
root@edison:~#

It's not clear on ostro or CL websites how one uses swupd utility other than which directory needs to be exposed via a web-server. Maybe thi

[2016-06-01 19:41] js333031 commented on #117
I think what I reported is incorrect. I think if Step 2 of https://ostroproject.org/documentation/howtos/software-update-server.html was performed, I wouldn't have encountered the bitbake error.

[2016-06-02 02:41] js333031 commented on #115
Adding packages via SWUPD_BUNDLES is very unproductive, probably because I'm not yet familiar with swupd workflow. After updating local.conf with new package in my bundle, I am doing `bitbake -k ostro-image-swupd` followed by swupd on Edison. After the update, I discover something else is needed so then repeat the process again. Hours wasted. Is there a better way?

[2016-06-02 08:33] pohly commented on #115
Adding content to an image via swupd is not recommended while experimenting. swupd is meant to be used when producing and maintaining the final, production-quality image.

The recommended approach while experimenting is to add content to ostro-image-noswupd.bb and build that image. That can be done in your local.conf. If you want a bit more reproducibility, define your own non-swupd image with the

[2016-06-02 09:28] gvancuts commented on #117
Hi @js333031 , are you saying you are now past this error?

[2016-06-02 10:18] gvancuts commented on #118
I fully agree... we need to add more to our documentation. The fact that it core dumps could be considered a bug in itself but ultimately, we need to document more clearly that there is no URL predefined in the system for swupd to operate. We should also describe how to configure such URL (both at bitbake time, via local.conf or elsewhere and in a running image).

@uhofemei @dbkinder , can you add

[2016-06-02 14:12] js333031 commented on #115
I added OSTRO_IMAGE_NOSWUPD_EXTRA_FEATURES_append = " package-management" in local.conf and now am able to use opkg on target.

Thanks.

[2016-06-02 14:12] #115 closed

[2016-06-02 14:53] gvancuts commented on #112
@uhofemei , would you be able to test this?

[2016-06-02 16:09] dbkinder commented on #118
The last mailing list message I’ve seen about this said:

- define your SWUPD_URL (to be done, not currently supported)

How does one configure the URL?

-- david

From: Geoffroy Van Cutsem [mailto:notifications@github.com]
Sent: Thursday, June 02, 2016 3:19 AM
To: ostroproject/ostro-os <ostro-os@noreply.github.com>
Cc: Kinder, David B <david.b.kinder@intel.com>; Mention <mention@noreply.github.co

[2016-06-02 17:00] dbkinder commented on #118
BTW,  https://github.com/ostroproject/ostro-os/issues/30#issuecomment-204940817  was the same issue (and was closed).
-- david

From: Kinder, David B
Sent: Thursday, June 02, 2016 9:09 AM
To: 'ostroproject/ostro-os' <reply@reply.github.com>; ostroproject/ostro-os <ostro-os@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [ostroproject/ostro-os] Using swupd to list packages

[2016-06-02 17:14] uhofemei commented on #112
@js333031 are you using the same micro USB cable when connecting to the Edison from a Windows host?

[2016-06-02 18:29] pohly commented on #118
Currently the URL always has to be given on the command line.

[2016-06-02 19:55] js333031 commented on #112
yes

[2016-06-02 21:01] uhofemei commented on #112
I have not seen this issue and am out of ideas how to fix this. Sorry.

[2016-06-02 21:04] js333031 commented on #112
In the dmesg output below, I used my dual-boot system. First, booted into Ubuntu and connected to Edison via /dev/ttyUSB0. Then, after seeing the issue, rebooted into Windows 7. This is at timestamp 526, you can see when Windows+Edison recognized each other. The "HSU..DMA" issue isn't seen thereafter in Edison's dmesg.

[  516.371766] HSU serial 0000:00:04.3: Got LSR irq(0xf8) while using DMA
[  5

[2016-06-03 10:34] gvancuts commented on #118
Thanks @pohly, is the only option or is there any conf file on a running system one can manually edit to set it?

[2016-06-03 11:05] pohly commented on #118
The command line is the only option with the version of swupd we have right now. Changes are coming, but not in Ostro yet.

[2016-06-03 14:31] nagineni commented on #108
Sorry, this dropped from my radar. I'll take a look.

[2016-06-06 18:37] uhofemei commented on #114
I suspect this might be in issue in negotiating a proper bus speed for USB3 in the Linux kernel for Edison. The Linux kernel for Edison is maintained by @sakoman. Steve, any ideas here? Thanks.

[2016-06-06 22:49] sakoman commented on #114
No ideas on what is wrong.  I use a generic USB3 hub when flashing Edison and have had no speed issues.  Try another brand of hub perhaps?

[2016-06-07 19:27] dbkinder commented on #113
Doc updated in PR #194 (now merged)
https://stg.ostroproject.org/documentation/howtos/booting-and-installation.html

[2016-06-08 08:03] #108 closed

[2016-06-09 09:51] #113 closed

[2016-06-15 13:21] pksm opened #123 "Intel Galileo Gen 2"
Does any of the provided images support Arduino IDE? If not, is it possible to build an image on Ostro that supports Arduino?

[2016-06-15 16:46] gvancuts commented on #123
@tripzero , is this something you have looked into?

[2016-06-17 07:34] haoxli opened #126 "Fail install python dependencies while setting up SmartHome demo"
Hi
I’m setting up SmartHome Demo[1]  in Ostro[2], but there are two dependencies fail to install.
- [Icarus](https://github.com/tripzero/icarus) [pip install error]: libraries lapack not found in ['/usr/lib']
- [Twisted](https://twistedmatrix.com/) [pip install error]: /usr/lib/gcc/x86_64-ostro-linux/5.3.0/../../../../x86_64-ostro-linux/bin/ld: cannot find –lssp

Errors looks like the libssp.so wh

[2016-06-17 09:31] gvancuts commented on #126
Hi @haoxli , can you report this issue on the SmartHome-Demo repo directly (here: https://github.com/01org/SmartHome-Demo/issues)?

I don't think we have ever tried on the latest master branch of Ostro so perhaps this is a new issue. Have you tried using Ostro 1.0?

@uhofemei , @kiendinh , can you take a look at this?

[2016-06-17 09:58] gvancuts commented on #126
Actually, I believe @nagineni has hit this recently too.

[2016-06-20 01:47] haoxli commented on #126
@gvancuts The image we used is Ostro 1.0, and I also report in SmartHome demo repo: https://github.com/01org/SmartHome-Demo/issues/18, thank you.

[2016-06-20 02:09] #126 closed

[2016-06-20 15:59] uhofemei opened #127 "No libspp in Ostro image"
Hi
I’m setting up SmartHome Demo[1] in Ostro[2], but there are two dependencies fail to install.

Icarus [pip install error]: libraries lapack not found in ['/usr/lib']
Twisted [pip install error]: /usr/lib/gcc/x86_64-ostro-linux/5.3.0/../../../../x86_64-ostro-linux/bin/ld: cannot find –lssp
Errors looks like the libssp.so which is part of gcc runtime is missing on the image.

I make a workaround

[2016-06-20 17:46] pohly commented on #127
Also filed as https://ostroproject.org/jira/browse/OP-82

[2016-06-20 18:21] tripzero commented on #123
i have looked into this.  In a nutshell, what you have to do is build a multi-arch image and add a daemon package.

I can give you more details if it sounds like something you want to do.

[2016-06-20 18:32] pksm commented on #123
Oh nice...Could you please give me more details?
Thanks

2016-06-20 15:21 GMT-03:00 Kevron Rees <notifications@github.com>:

[2016-06-20 20:14] pohly commented on #127
It looks like nothing in the image needs libssp.so.0 and the corresponding package group, packagegroup-core-buildessential, also has no explicit dependency on libssp-dev.

We can fix this issue by explicitly adding this library, but I wonder whether we also miss other libraries. Which ones do we add and which ones not? Case-by-case?

[2016-06-20 20:17] pohly commented on #127
OTOH, my ostro-image-minimal testbuild included libssp.so. To be checked...

[2016-06-20 22:28] thiagogcm opened #128 "[Feature request] Docker"
Would it be possible to have docker prebuilt in a ostro image?

[2016-06-21 04:12] tripzero commented on #123
I thought I had written a guide somewhere, but I can't seem to find it.  Also note that I haven't tested this in a while, so I don't know if it works.  If it doesn't for you, let us know.

add the following to your build/conf/local.conf
include conf/ostro-multilib.conf

Then you need the recipe from the meta-intel-galileo layer:

http://git.yoctoproject.org/cgit/cgit.cgi/meta-intel-galileo/tree/re

[2016-06-21 09:04] pohly commented on #127
My ostro-image-minimal had been built with OE-core master, where libssp gets pulled in because something uses it. We still need a something a bit more explicit.

@uhofemei the subject of this issue mentions only libssp, but the text then also talks about lapack missing and "install them directly in Ostro". Can you clarify whether the feature request is for libssp or libssp+lapack?

[2016-06-21 09:18] pohly commented on #127
Furthermore, we also don't seem to have the "pip" command in our ostro-image-swupd-dev. Does that also need to be added? Where did it come from when initially trying to install the SmartHome Demo?

[2016-06-21 11:14] gvancuts commented on #127
@pohly , that seems a little counter-intuitive to have ostro-image-minimal that contains libssp but the other variants (allegedly more complete) do not. Do you know what could be causing this?

Regarding libssp and lapack, both are needed. I don't know if lapack could be a case of it being installed but not found. If it's not there, we should look to add it.

[2016-06-21 11:55] pohly commented on #127
@gvancuts I was switching between repo branches (basically multitasking...) and built ostro-image-minimal using more recent recipes. That explains the difference.

So basically this feature request becomes "provide everything that is needed to build SmartHome Demo on Ostro OS directly in the images". I'm not sure who will have time for that and when.

[2016-06-21 13:13] gvancuts commented on #127
Thanks for the explanation @pohly . It sounds like this lack of libssp will automatically get resolved later then?

I understand your concern on working through adding items to Ostro. Some of these tools I suspect would benefit more people than just the ones focused on re-creating the SmartHome IoT demo (e.g. pip would be quite useful for people playing with Ostro).

Are you willing to accept patc

[2016-06-21 14:00] pohly commented on #127
@gvancuts patches would indeed be very welcome.

While looking at it, I wasn't sure where to add the necessary dependencies, though. FEATURE_PACKAGES_python-runtime for pip? FEATURE_PACKAGES_tools-develop for libssp and lapack? The later does not sound quite right. Not everyone who needs the tools needs these libraries. A new "dev-libs" image feature with a corresponding packagegroup-dev-libraries

[2016-06-22 06:37] Mac-Lu opened #130 "The problem of ova file with virtualbox 5.0.20"
Hi Ostro-dev,

I am following the steps of Running Ostro OS in a VirtualBox* VM to use Ostro ova file with Virtualbox 5.0.20.
But it seems boot fail with the message attached.
So, I can not use Ostro with Virtualbox.

I use the ova files as below.
ostro-image-swupd-all-intel-corei7-64-2016-06-10_14-26-11-build-463.dsk.ova
ostro-image-swupd-dev-intel-corei7-64-2016-06-10_14-26-11-build-463.dsk.ova

[2016-06-22 08:23] gvancuts commented on #130
Hi!

I will try that particular build later today but in the meantime here are a few things you can check:
- Can you try to hit enter in the window (just in case the system actually is up and running but just not displaying the prompt)?
- Do you have hardware acceleration turned on for virtualization?
- What is your host OS (and machine spec)?

Thanks,
Geoffroy

From: Mac-Lu [mailto:notifications@

[2016-06-22 09:03] Mac-Lu commented on #130
Hi gvancuts,

Thank you for your prompt reply.

Please see the infomation below.
- Can you try to hit enter in the window (just in case the system actually is up and running but just not displaying the prompt)?
Ans: No response.
- Do you have hardware acceleration turned on for virtualization?
Ans: Do you mean VT-x ? Yes, It has.
- What is your host OS (and machine spec)?
Ans: CPU : Intel Q9400, 4

[2016-06-22 12:12] gvancuts commented on #130
I'm downloading the image to test it here. The CPU is somewhat hold, do you have the ability to try the same thing on a more recent machine too?

I have a somewhat old Core™ i7-720QM here (but running Linux) and I have not had problems running OVA so far (but still need to try with the same image as you)

[2016-06-24 07:28] gvancuts commented on #128
Not at the moment I'm afraid. However, we support nspawn containers via our (minimalistic) application framework: https://ostroproject.org/documentation/architecture/application-framework.html

[2016-06-24 07:33] gvancuts commented on #130
Hi @Mac-Lu , I have now tested the very same image (ostro-image-swupd-dev-intel-corei7-64-2016-06-10_14-26-11-build-463.dsk.ova) on a Windows 8.1 machine running VirtualBox 5.0.20. I did not have any problem running it. There is a newer version of VirtualBox available (5.0.22), can you try this? And also let me know if you had a chance to test on a different, more recent HW machine.

Thanks

[2016-06-24 08:16] Mac-Lu commented on #130
Hi gvancuts,

I use the core i5 cpu to try the same test.
The ostro can be run into root command line.

Thanks for your help.
Mac

[2016-06-24 08:16] #130 closed

[2016-06-24 08:22] gvancuts commented on #130
Thanks for confirming this!

[2016-06-24 15:03] pksm commented on #123
Hi, thanks for the tip

I did not understand where I have to add the link (i've cloned it from
http://git.yoctoproject.org/meta-intel-galileo and placed it along with the
other meta directories).
And in the line OSTRO_IMAGE_EXTRA_INSTALL...it will be
OSTRO_IMAGE_EXTRA_INSTALL
+= "galileo-target" ?

Thanks

2016-06-21 1:12 GMT-03:00 Kevron Rees <notifications@github.com>:

[2016-06-28 10:42] gvancuts commented on #123
Where exactly you place the meta-intel-galileo does not matter too much. You will need to add it to your build system though, the easiest for that is to run "bitbake-layers add-layer <path/to/meta-intel-galileo>".

Make sure you have these two extra lines in your conf/local.conf file:
   include conf/ostro-multilib.conf
   OSTRO_IMAGE_EXTRA_INSTALL += "galileo-target"

HTH

[2016-06-28 14:52] pksm commented on #123
Hey Geoffroy,

I did what you said, but still got this error: "ERROR: No recipes available
for:
~/ostro-os/meta-intel-galileo/recipes-core/images/iot-devkit%.bbappend".
Can you help me solve this?
Thanks.

2016-06-28 7:42 GMT-03:00 Geoffroy Van Cutsem <notifications@github.com>:

[2016-06-28 15:46] gvancuts commented on #123
Hopefully @tripzero can, I have not tried this myself yet.
Maybe what Kevron was suggesting is to not copy the entire layer but just transfer the recipe in one of your existing layers.

[2016-07-15 16:04] ereshetova opened #149 "can't compile openjdk-8 in local build"
MACHINE ?= "intel-quark"
target: ostro-image-swupd
latest master
....
| --> /ostro/ostro-os/build/tmp-glibc/work/i586-nlp-32-ostro-linux/openjdk-8/72b05-r0/build/jdk/gensrc/java/nio/channels/IllegalChannelGroupException.java
| --> /ostro/ostro-os/build/tmp-glibc/work/i586-nlp-32-ostro-linux/openjdk-8/72b05-r0/build/jdk/gensrc/java/nio/channels/AlreadyBoundException.java
| Exception in thread "main

[2016-07-18 09:04] Valtis commented on #149
What distro do you use? Openjdk compiled fine for me on Ubuntu 16.04.

[2016-07-27 03:26] haoxli opened #155 "mraa module missing in ostro image"
Node module `mraa` is missing in Ostro image now, such as [2016-07-19_23-56-09-build-481](https://download.ostroproject.org/builds/ostro-os/2016-07-19_23-56-09-build-481/images/edison/ostro-image-swupd-edison-2016-07-19_23-56-09-build-481.toflash.tar.bz2), but available in [2016-04-21_12-41-11-build-429](https://download.ostroproject.org/builds/ostro-os/2016-04-21_12-41-11-build-429/images/edison/

[2016-07-29 10:28] pohly commented on #155
Which image you are talking about - ostro-image-swupd-dev or something else?

I could reproduce that ostro-image-swupd-dev doesn't have the bindings, potential fix here (to be validated): https://github.com/ostroproject/meta-ostro/pull/248

However, it should have been like this since the bindings were introduced - see https://github.com/ostroproject/meta-ostro/commit/1f3eb822d9259e122b7bee8eddf99

[2016-08-01 08:02] haoxli commented on #155
yes, I meet the issue in ostro-image-swupd-dev build.

[2016-08-19 18:03] laxigithub opened #163 "Upgrade required for gstreamer-vaapi to >= 1.8.2"
The current version of gstreamer-vaapi-0.7.0 is old in Ostro and it should be > = 1.8.2.
With the older version in Ostro, we get garbled results in the playback and some of the codecs are also not supported.
Details:
Current version of gstreamer-vaapi-0.7.0 doesn’t support HEVC and VP9 encode.
gstreamer-vaapi-1.8.2 supports HEVC encode and doesn’t support VP9 encode.
gstreamer-vaapi-1.9.1 supports

[2016-08-19 18:42] laxigithub opened #164 "libyami and libyami-utils support needed in Ostro"
Please add libyami and libyami-utils support in Ostro, as it is required for video playback/encode using vaapi hw acceleration interface. Currently gstreamer bad plugins could not be used due to license restrictions, libyami could be good alternative. More info about libyami Media Infrastructure and source code: https://github.com/01org/libyami

[2016-08-24 15:27] KDuzinkiewicz opened #166 "Can't load .ova pre-built image in VirtualBox"
Hi,
   I'm trying to use a pre-built Ostro OS image (ostro-image-swupd-dev-intel-corei7-64-2016-07-24_00-09-20-build-485.dsk.ova) with VirtualBox 5.0.20 according to the documentation but all I get is the following message:

![image](https://cloud.githubusercontent.com/assets/19652894/17936679/de4437a2-6a1f-11e6-8ed7-9f2f4dbdf02f.png)

I'm a little bit confused since I don't have any .vmdk file -

[2016-08-24 15:45] gvancuts commented on #166
The vmdk file is part of the OVA file. Could it be that the file you have downloaded got truncated or corrupted? We don't publish checksums for the files but please check that the size is correct and perhaps try to download it again?

I will try with that build on my side too and will let you know.

Thanks

[2016-08-24 15:51] gvancuts commented on #166
I was able to import the same build into VirtualBox (Version 5.0.22 r108108) on Windows.

The md5 checksum of the file I used is: c388d0f7df3cd4ef672fab9a672ddcfa

[2016-08-24 15:57] KDuzinkiewicz commented on #166
Ok, thanks for clarification. I'll give it another try on my side (re-download) and check again.
Thanks for your prompt answer.

[2016-08-24 16:09] #166 closed

[2016-08-30 10:09] anindya1989 opened #169 "I need some guideline regarding custom bsp meta layer creation for mips"
I need some guideline regarding some custom bsp meta layer creation for mips. I tried with yocto-bsp create {MACHINE_NAME} {ARCH} but it is saying that yocto-bsp command not found. So, please give some input related to that.

[2016-08-30 12:07] mythi commented on #149
@ereshetova Do you see this error still?

[2016-08-31 05:54] mythi opened #170 "meta: systemd: PACKAGING changes"
This is a meta issue to cover all systemd issues reported in ostro-os.

I'm using it to batch close all of them. The work shall be tracked in yoctoproject bugzilla later on.

Closes: ostroproject/ostro-os#33
Closes: ostroproject/ostro-os#34
Closes: ostroproject/ostro-os#35
Closes: ostroproject/ostro-os#36
Closes: ostroproject/ostro-os#37
Closes: ostroproject/ostro-os#38
Closes: ostroproject/ostro-

[2016-08-31 05:56] mythi commented on #170
Closing (I'm expecting this closes all 33..50)

[2016-08-31 06:00] mythi commented on #170
Closes: ostroproject/ostro-os#33
Closes: ostroproject/ostro-os#34
Closes: ostroproject/ostro-os#35
Closes: ostroproject/ostro-os#36
Closes: ostroproject/ostro-os#37
Closes: ostroproject/ostro-os#38
Closes: ostroproject/ostro-os#39
Closes: ostroproject/ostro-os#40
Closes: ostroproject/ostro-os#41
Closes: ostroproject/ostro-os#42
Closes: ostroproject/ostro-os#43
Closes: ostroproject/ostro-os#44
Clos

[2016-08-31 06:00] #170 closed

[2016-08-31 06:00] mythi commented on #170
Nice try but did not work. :(

[2016-08-31 06:12] mythi commented on #98
Based on the comments this one can be closed.

[2016-08-31 06:12] #98 closed

[2016-08-31 06:19] mythi commented on #50
Closing as wontfix for ostro-os for now.

[2016-08-31 06:19] #50 closed

[2016-08-31 06:19] mythi commented on #49
Closing as wontfix for ostro-os for now.

[2016-08-31 06:19] #49 closed

[2016-08-31 06:20] mythi commented on #48
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #48 closed

[2016-08-31 06:20] mythi commented on #47
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #47 closed

[2016-08-31 06:20] mythi commented on #46
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #46 closed

[2016-08-31 06:20] mythi commented on #45
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #45 closed

[2016-08-31 06:20] mythi commented on #44
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #44 closed

[2016-08-31 06:20] mythi commented on #43
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #43 closed

[2016-08-31 06:20] mythi commented on #42
Closing as wontfix for ostro-os for now.

[2016-08-31 06:20] #42 closed

[2016-08-31 06:21] mythi commented on #41
Closing as wontfix for ostro-os for now.

[2016-08-31 06:21] #41 closed

[2016-08-31 06:21] mythi commented on #40
Closing as wontfix for ostro-os for now.

[2016-08-31 06:21] #40 closed

[2016-08-31 06:21] mythi commented on #39
Closing as wontfix for ostro-os for now.

[2016-08-31 06:21] #39 closed

[2016-08-31 06:21] mythi commented on #38
Closing as wontfix for ostro-os for now.

[2016-08-31 06:21] #38 closed

[2016-08-31 06:21] mythi commented on #37
Closing as wontfix for ostro-os for now.

[2016-08-31 06:21] #37 closed

[2016-08-31 06:21] mythi commented on #36
Closing as wontfix for ostro-os for now.

[2016-08-31 06:21] #36 closed

[2016-08-31 06:22] mythi commented on #35
Closing as wontfix for ostro-os for now.

[2016-08-31 06:22] #35 closed

[2016-08-31 06:22] mythi commented on #34
Closing as wontfix for ostro-os for now.

[2016-08-31 06:22] #34 closed

[2016-08-31 06:22] mythi commented on #33
Closing as wontfix for ostro-os for now.

[2016-08-31 06:22] #33 closed

[2016-08-31 06:24] mythi commented on #169
Please refer to Yocto Project BSP Guide: http://www.yoctoproject.org/docs/2.1/bsp-guide/bsp-guide.html

[2016-08-31 06:24] #169 closed

[2016-08-31 06:40] mythi commented on #127
libssp0 can now be found in the ostro-image-swupd-dev images. Checked with the latest (494) ostro-os master build

[2016-08-31 06:40] #127 closed

[2016-08-31 08:42] liyuming1978 opened #171 "pulseaudio crash"
1.      PulseAudio daemon is not started when the system boot up. So how to make PulseAudio daemon run as a system service so that it can automatically start when the system boot up?
2.      When I manually launch PulseAudio, the following message are shown:
W: [pulseaudio] main.c: This program is note intended to be run as root (unless –suystem is specified)
W: [pulseaudio] Server-lookup.c: Unabl

[2016-08-31 10:01] ereshetova commented on #149
@mythi, I haven't done local build in ages, let me try to pull in updates and check

[2016-08-31 18:34] ereshetova commented on #149
@mythi, local build took ages, but completed successfully. so this issue can be closed.

[2016-08-31 18:34] #149 closed

[2016-08-31 18:43] mythi commented on #149
@ereshetova thanks for taking the time to check it!

[2016-09-01 06:41] mythi commented on #123
@pksm hi, are you still playing with this?

[2016-09-01 06:42] mythi commented on #117
Closing as it looks there's no error.

[2016-09-01 06:42] #117 closed

[2016-09-01 06:45] mythi commented on #163
ostro-os now provides this.

[2016-09-01 06:45] #163 closed

[2016-09-01 09:07] mythi commented on #171
@wzhen12 provided the feedback in https://lists.ostroproject.org/pipermail/ostro-dev/2016-September/000639.html

In general it's also good to check the PACKAGECONFIG settings are tuned for your needs (e.g., x11 not needed). The recipe has the default ones and no ostro-os specific tuning is done.

[2016-09-01 09:57] mythi commented on #112
@js333031 Do you still see this? Have you checked your Ubuntu setup has the necessary g_* modules loaded?

[2016-09-06 07:37] ipuustin opened #173 "libxml vulnerability CVE-2016-5131"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-5131 reported by cve-checker.

[2016-09-06 07:38] ipuustin opened #174 "OpenSSL vulnerabilities CVE-2016-2177, CVE-2016-2178, and CVE-2016-2180"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2177 , https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2178 , and https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2180 reported by cve-checker.

[2016-09-06 07:38] ipuustin opened #175 "bzip vulnerability CVE-2016-3189"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-3189 reported by cve-checker.

[2016-09-06 07:38] ipuustin opened #176 "perl vulnerability CVE-2016-1238"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-1238 reported by cve-checker.

[2016-09-06 08:50] mythi commented on #114
closing. Bad USB hub causing this.

[2016-09-06 08:50] #114 closed

[2016-09-06 08:59] mythi commented on #112
It's expected this is host PC specific. (the Edison device operates OK without reboots when changing to win)

[2016-09-06 08:59] #112 closed

[2016-09-07 18:50] matttrawicki opened #178 "OVA kernel panic on boot"
Hello, I'm new to the Ostro project. While waiting for my Galileo to show up from Mouser, I tried to fire up the virtual appliance.

<img width="1022" alt="kernel panic" src="https://cloud.githubusercontent.com/assets/5567534/18324295/6301c202-7501-11e6-842a-f2e4e9052135.png">

https://download.ostroproject.org/releases/ostro-os-xt/milestone/v1.0.0/images/intel-corei7-64/ostro-xt-image-swupd-intel

[2016-09-07 19:59] KunalSaini commented on #178
I am getting exact same issue with other image as well. https://download.ostroproject.org/releases/ostro-os-xt/milestone/v1.0.0/images/intel-corei7-64/ostro-xt-image-noswupd-intel-corei7-64-2016-08-13_13-03-59-build-170.dsk.ova

VirtualBox Version 5.0.26 r108824
Windows 7 Host

[2016-09-07 21:39] gvancuts commented on #178
We have seen this in some combination of host OS and VirtualBox (we had reported this in the release notes - at the bottom: https://github.com/ostroproject/ostro-os-xt/releases/tag/v1.0.0
<quote>
The Virtualbox* appliance generates exceptions due to unknown instructions
Loading and booting a Virtualbox OVA appliance for Ostro OS XT results in a failure to boot in some environments. This usually ha

[2016-09-08 08:25] mythi commented on #118
we now have the default ostro urls and swupd-client updated to 3.x. Closing.

[2016-09-08 08:25] #118 closed

[2016-09-08 08:30] mythi commented on #175
Fixed by ```8cbe6fb07f1107965cb10a6af0f55a98d233f3d0```

[2016-09-08 08:30] #175 closed

[2016-09-09 06:29] daweiwu opened #180 "[REG] Default gateway not changed after WiFi connected"
Steps:
1.  Connect Ethernet , default gw is Ethernet
2.  Connect WiFi  , default gw still is Ethernet
Expected Results:
default gw should change to WiFi

See below:
[code]
<some other interface info ...>
[code]

[code]

[2016-09-09 06:30] daweiwu commented on #180
Test device is Galileo Gen 2 , build is 497

[2016-09-09 07:36] mythi commented on #180
This looks expected based on 1.33 release notes, @pfl?

[2016-09-09 07:40] pfl commented on #180
Expectation is wrong. By default ethernet has higher priority than WiFi, and therefore the default gateway stays with ethernet. See PreferredTechnologies in /etc/connman/main.conf if that is what you intend to do.

[2016-09-09 07:50] wanghongjuan opened #181 "Ostro image can not automatically boot up and auto-login as root on Edison"
According to this [document][]: `Once flashing is done, the image will automatically boot up and auto-login as root, no password is required`. Actually, the image can not automatically boot up.
I find a [guide][], following this guide, the image can boot up and auto-login as `root`.
Is there anything wrong when flash the image? Or lack of some steps when boot up the image?

[document]: https://ost

[2016-09-09 08:14] mythi commented on #180
@pfl thank you

Closing as not an issue

[2016-09-09 08:14] #180 closed

[2016-09-09 08:21] gvancuts commented on #181
I'm not entirely following you. Are you saying that you never get a prompt on the serial line after flashing Ostro on your Edison board but you do when using a different (non-Ostro) image?

If so, can you tell us a bit more about how the flashing process went? Did you see any time-out, error, etc.?

[2016-09-09 09:07] daweiwu commented on #180
@ipuustin .[REG] means it 's regression issue.  And use connmactl to connect WiFi .
@pfl . There is no  /etc/connman/main.conf in Ostro OS . Any other possible place ?
@mythi So this regression is not an issue ?

[2016-09-09 09:18] pfl commented on #180
If there is no main.conf, then the defaults kick in. Defaults work as explained above.

[2016-09-09 09:45] wanghongjuan commented on #181
I had some misunderstanding, I could see the system boot up automatically in the serial console by `screen` command. So close this.

[2016-09-09 09:45] #181 closed

[2016-09-12 06:42] ttzeng commented on #155
Hi,

Is there any prebuilt images contain this fix? the node binding is still
not found in the 'latest' build 497 [1], any pointers would be very
appreciated. Thanks.

[1]
https://download.ostroproject.org/builds/ostro-os/2016-09-07_08-11-14-build-497/

Best Regards,
Tonny

On Mon, Aug 1, 2016 at 4:02 PM, Hao Li <notifications@github.com> wrote:

[2016-09-13 13:07] mythi commented on #155
@ttzeng sorry not yet. The meta-ostro/pull/248 PR is still open.

[2016-09-13 13:10] ttzeng commented on #155
Hi Mikko,

Thanks for the confirmation, hopefully it can be merged soon.

Best Regards,
Tonny

On Tue, Sep 13, 2016 at 9:07 PM, Mikko Ylinen <notifications@github.com>
wrote:

[2016-09-13 14:02] KunalSaini opened #182 "Iotivity-node not working"
I installed "ostro-image-swupd-all-intel-quark.dsk.xz" image on my intel galileo and I am not able to run sample code for iotivity-node
[code]

I get ```TypeError: device.register is not a function``` , i can run the same code on my ubuntu machine with iotivity-node@1.1.1-3 .

I am asking this question on ostro-os repo because i am not able to figure out what version of iotivity-node the ostro-os

[2016-09-13 14:04] mythi commented on #182
@nagineni can you check this please?

[2016-09-13 14:15] matttrawicki commented on #182
👍
with https://download.ostroproject.org/releases/ostro-os/milestone/v1.0.0/images/intel-quark/ostro-image-swupd-all-intel-quark-2016-05-02_00-09-47-build-440.dsk.zip

[2016-09-13 17:06] nagineni commented on #182
Ostro os v1.0.0 has the old version of iotivity-node v1.0.1-1. The sample code based on the latest version of iotivity-node might be failing on the device due to the API change in iotivity-node versions.

Try with the old API like below:
[code]
Missing package.json issue has already been fixed in the latest Ostro os code base.

[2016-09-13 18:25] KunalSaini commented on #182
thanks @nagineni , do you plan to update iotivity-node to latest version in ostro os. also do you have any links to api documentation for v1.0.1-1 of iotivity-node.

[2016-09-13 18:31] mythi commented on #182
Labeled as 'help wanted' as this does not look like a bug.

[2016-09-14 01:18] ttzeng commented on #182
The link of the Ostro OS Download page [1] leads us to the milestone
releases which havn't  been updated since May, but the download link [2] in
the quick start guide [3] actually points to the regular builds which
contains images with more recent iotivity and iotivity-node 1.1.0 packages.
Though the current build #497 works for me, do we have plan to label some
of them as milestone releases as th

[2016-09-18 22:09] dangpzanco opened #184 "[ERROR: Task "linux-yocto_4.4.bb:do_patch" failed with exit code '1'] Can't apply patch 0001-ovl-setxattr-don-t-deadlock-when-called-from-ima_fix.patch"
Hi,

I get an error when patching **0001-ovl-setxattr-don-t-deadlock-when-called-from-ima_fix.patch** on the **linux-yocto_4.4.bb:do_patch** task. I've managed to make it build ok by commenting out this patch, but I would like to know if I've there's a fix for this.

You can check my [local.conf](https://gist.github.com/dangpzanco/37d973a3beece7ba62d26ac473bd028f) and [bblayers.conf](https://gist.

[2016-09-18 23:46] dangpzanco commented on #184
Okay, as I found out, **0001-ovl-setxattr-don-t-deadlock-when-called-from-ima_fix.patch** fails because it is already applied to the sources...

The fix would be deleting it from "ostro-os/meta-ostro-bsp/recipes-kernel/linux-yocto/linux-yocto" and removing its reference in the "ostro-os/meta-ostro-bsp/recipes-kernel/linux-yocto/linux-yocto_4.4.bb" file, as follows:

[code]

[2016-09-19 01:40] dangpzanco commented on #184
I've managed to manually compile libpam by doing the following:
[code]

This code is supposed to be run on that folder, but it fails, make clean; make; fixed it, I don't know why:

`../../x86_64-linux-libtool  --tag=CC   --mode=link gcc   -isystem/home/daniel/Documents/ostro-project/ostro-os/build/tmp-glibc/sysroots/x86_64-linux/usr/include -O2 -pipe  -L/home/daniel/Documents/ostro-project/ostro-o

[2016-09-19 11:37] mythi commented on #182
@KunalSaini We have PRs pending to update to iotivity 1.1.1 and iotivity-node that works with 1.1.1.

Closing.

[2016-09-19 11:37] #182 closed

[2016-09-19 19:31] mythi commented on #184
@dangpzanco You should be able to benefit from pre-built SSTATE cache. Make sure your build is able to access the SSTATE_MIRROR configured in local.conf.

This works at least if you have a vanilla ostro-os repo.

[2016-09-21 00:40] dangpzanco commented on #184
@mythi Hi, how could I check if my "build is able to access the SSTATE_MIRROR"? I don't quite understand what you mean.

My local.conf has the following configuration:
`
SSTATE_MIRRORS ?= "file://.* http://download.ostroproject.org/sstate/ostro-os/PATH"
`

Is "PATH" a keyword? How should I interpret the string above?

My `/ostro-os/build/sstate-cache` has 6.160 items, totalling 4.5 GB, the folders

[2016-09-21 05:44] mythi commented on #184
@dangpzanco your local.conf looks correct. With the pre-built sstate cache bitbake should just use the binary artifacts from the mirror and no rebuilding locally should happen (at least if you are using an unmodified ostro-os master).

[2016-09-21 19:51] laxigithub commented on #163
Hi Mikko,
Ostro build #182 still has gstreamer-vaapi-1.0_0.7.0.bb, can you please merge this PR into latest Ostro builds ?

Thanks,
Laxman

[2016-09-26 00:49] testkit opened #186 "OpenSSL CVE-2016-6304"
OCSP Status Request extension unbounded memory growth (CVE-2016-6304)

- A malicious client can send an excessively large OCSP Status Request extension. If that client continually requests renegotiation, sending a large OCSP Status Request extension each time, then there will be unbounded memory growth on the server. This will eventually lead to a Denial Of Service attack through memory exhaustion

[2016-09-26 06:18] pohly commented on #186
Ostro OS itself does not provide any vulnerable servers. Therefore there is no need for immediate action. Instead, we submitted a version update to OE-core and will get a fix through the regular inclusion of the updated OE-core into Ostro OS. See https://patchwork.openembedded.org/patch/132231/

[2016-09-26 18:27] terriko commented on #186
Update: there has been another issue found, the latest versions of openssl are now 1.1.0b and 1.0.2j
OpenSSL Blog: https://www.openssl.org/news/secadv/20160926.txt

[2016-09-26 18:44] terriko commented on #186
Talked to our resident crypto expert. His advice as follows:

"If the OS supports running applications that may expose a TLS protected service – e.g. a web based control interface – then it will be affected by this notice unless the shipping library is built with the “no-ocsp” option.

If the library is built with “no-ocsp” I recommend updating to 1.0.2j, but it is not critical (MUST be filed as a

[2016-09-27 18:24] mythi commented on #184
@dangpzanco did you try setting

[code]

there was a change in how kernel patches are applied and that won't work without proper git config. We're still checking how this can be fixed properly.

[2016-09-30 10:42] mythi commented on #186
ostro-os #506 has this fixed.

[2016-09-30 10:42] #186 closed

[2016-09-30 10:43] mythi commented on #176
ostro-os #506 has this fixed.

(c7872343c9735837579b23c06ca00ce4bec67629)

[2016-09-30 10:43] #176 closed

[2016-09-30 11:02] mythi commented on #174
ostro-os #506 has this fixed.

[2016-09-30 11:02] #174 closed

[2016-09-30 12:25] mythi opened #191 "cve-checker-tool fails"
cve-checker-tool fails to run because it's now built from oe-core and the oe-core version has no support for ``--cacerts``` parameter.

[2016-10-03 12:06] mythi commented on #86
The default route works OK in the latest build.

[2016-10-03 12:06] #86 closed

[2016-10-06 12:45] ipuustin commented on #191
Should be fixed in https://github.com/01org/meta-security-isafw/pull/77.

[2016-10-06 12:51] ipuustin opened #194 "flex vulnerability CVE-2016-6354"
Certain code generated by flex has a heap buffer overflow. Base CVSS severity 9.8 (critical). Ostro OS severity not yet analyzed.

https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2016-6354

[2016-10-06 12:59] ipuustin opened #195 "expat vulnerability CVE-2016-4472"
Base CVSS severity 8.1 (high). Ostro OS severity not yet analyzed.

https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2016-4472

[2016-10-06 13:00] ipuustin opened #196 "gnutls vulnerability CVE-2016-7444"
Base CVSS severity 7.5 (high). Ostro OS severity not yet analyzed.

https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2016-7444

[2016-10-07 07:38] ipuustin commented on #195
It seems that this is issue is a false alarm -- the fix is already in expat 2.2.0 event though the CVE database indicates expat 2.2.0 to be vulnerable. See https://sourceforge.net/p/expat/code_git/ci/master/tree/expat/Changes for the list of CVE fixes included in 2.2.0 release.

[2016-10-10 07:57] pohly opened #199 "swupd: hash mismatch on regular file"
Updating intel-corei7-64 build #505 to #507 fails even when using the Smack transmute workaround:
[code]

That entry corresponds to:
[code]

This already occurred for updates #505->#506 and also affects #506->#507.

 Comparing the attributes of that local copy under /var/lib/swupd against the corresponding file in a running #5060 did not reveal any obvious attribute mismatches. Local copy:
[code]

[2016-10-10 08:01] pohly commented on #199
Yep, that's probably it. From meta-intel-iot-security/meta-integrity/recipes-kernel/linux/linux-%.bbappend:

[code]

We don't have an entry for the current 4.4.20 kernel.

This is going to break again and again each time the kernel gets a minor version bump. I'm not sure what the right solution is - should we enable the patch by default and only blacklist the kernels for which it is not needed?

[2016-10-10 08:37] jku commented on #194
Patch in review:
http://lists.openembedded.org/pipermail/openembedded-core/2016-October/127423.html

[2016-10-10 08:37] jku commented on #196
Patch in review:
http://lists.openembedded.org/pipermail/openembedded-core/2016-October/127420.html

[2016-10-10 10:06] rojkov commented on #199
Yep, it's not the first time we bump into an outdated kernel patch set. I'd second applying the IMA kernel patches by default.

[2016-10-11 00:57] dangpzanco opened #200 "Can't connect via SSH on pre-built images"
Hello,

I have followed the tutorial  [Adding Authorized Keys for Remote ssh Access](https://ostroproject.org/documentation/howtos/authorized-keys.html), I have my pair of public and private keys and they work just fine by following the "Build-Time Configuration of Authorized Keys" section.

I've had some problems with building an image and I wanted to try the pre-built ones, but I don't have a se

[2016-10-13 06:55] avalluri commented on #200
I guess this is issue with IMA. Touching the .ssh/authorized_keys file content after image creation making it inaccessible.

The workaround is the other way, after booting the image, 'scp' your public key file from your developer machine(assuming that your machine runs ssh server), and add that key to board's '.ssh/authorized_keys'. Now you can ssh to your board.

[code]

[2016-10-20 06:09] mythi commented on #191
Fix released in build 508.

[2016-10-20 06:09] #191 closed

[2016-10-21 09:54] yma11 opened #203 "client put request return error 4 in Iotivity"
Steps to reproduce:
1) start a server like "/opt/iotivity/examples/resource/cpp/simpleserverHQ" and then start corresponding client to communicate with server on same DUT or another DUT.

Result:
The put request from client will return error 4 so that server can't get the info.
This happens on simpleclientHQ/roomclient/threadingsample
Log:
simpleclientHQ:
iotivity-tester@intel-quark:/home/root$ /o

[2016-10-25 08:05] testkit commented on #203
@yma11, is iotivity updated compared to last successful case? Is it an iotivity upstream bug actually?

[2016-11-02 11:14] ipuustin opened #206 "glibc vulnerability CVE-2016-6323"
Attacker can cause a process to hang due to the glibc bug. This affects only Beaglebone images. See https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2016-6323 and http://www.openwall.com/lists/oss-security/2016/08/18/12 . The CVSSv3 base score is 7.5 (High).

[2016-11-04 03:06] yma11 commented on #203
@testkit, compared the last 2 ostro build we tested, related iotivity TCs passed in build 452 and corresponding iotivity version is 1.1.0-r0.4 .  This bug is opened against build 507 and the iotivity version is 1.1.1-r2.0. I suspect that iotivity is updated while the sample apps don't. FYI.

[2016-11-04 06:00] testkit commented on #203
@yma11, thanks for checking. Can we reproduce this issue on Ubuntu? This might help us to identify it's ostro issue or iotivity upstream issue.

[2016-12-05 10:26] qiuzhong opened #211 "No Ostro build#512 images found for intel-quark arch at download.ostroproject.org"
[Ostro images build#512 for intel-quark](https://download.ostroproject.org/builds/ostro-os/2016-12-03_04-11-18-build-512/images/intel-quark/) are missing at [download.ostroproject.org](https://download.ostroproject.org/builds/ostro-os/2016-12-03_04-11-18-build-512/images/intel-quark/). However, the [build log](https://download.ostroproject.org/builds/ostro-os/2016-12-03_04-11-18-build-512/bitbake-

[2016-12-06 20:51] okartau commented on #211
worker node went offline during job. I restarted job now, sync is going

[2016-12-07 01:28] qiuzhong commented on #211
The Ostro images build#512 for intel-quark can be found now. So close this issue.

[2016-12-07 01:28] #211 closed

[2016-12-14 07:12] shrmrf opened #214 "Using Ostro OS + Serial CDC"
Hello Everybody,

In my quest to using Intel's Wireless AC-3160 wifi PCIe card with the Galileo, I compiled the swupd version of Ostro OS and everything seemed to work well except for the Serial port.

My USB CDC device does not appear as an ACMx file interface (/dev/ttyACM0 for example). Has anyone had similar problems with kernel 4.4?

I've put some commands I ran, that might help the context at

[2016-12-14 09:50] gvancuts commented on #214
Hi @shrmrf , can you clarify what the 'standard image' for Galileo is (which works as expected)?

My first guess is that we may not have all the appropriate drivers enabled in our kernel. Do you know which kernel driver is used in the image that works correctly?

[2016-12-14 09:54] shrmrf commented on #214
Hello @gvancuts ... thanks for your reply. The standard image I was referring to is the one distributed on Intel's getting started site: https://software.intel.com/en-us/iot/hardware/galileo/downloads

Its kernel version 3.8...
[code]

[2016-12-14 10:17] shrmrf commented on #214
Btw, does this help?

[code]

[2016-12-14 10:39] shrmrf commented on #214
@gvancuts ... YUP, as you expected... the driver isn't available on the ostro image:-

what would be the quickest way to resolve this? Any suggestion would be extremely helpful!!

[code]

[2016-12-14 11:56] gvancuts commented on #214
It sounds like you're already able to compile an Ostro OS image. In that case, from your dev machine, use "bitbake linux-yocto -c menuconfig" will allow you to change the kernel config. Once done, proceed with recreating a new image. Let me know if that helps or if you need more accurate steps.

[2016-12-14 13:16] shrmrf commented on #214
Hello @gvancuts thanks for the reply. I would love it if you could specify where the `cdc_acm` drivers are in menuconfig. can't seem to figure out... (maybe I'm burned out?)

[2016-12-14 13:28] gvancuts commented on #214
It is in 'Device Drivers' -> 'USB support' ('Support for Host-side USB' needs to be selected).

(hint: I never remember where these are myself but you can easily search for a keyword from that menuconfig, hitting '/' will open the search box)

[2016-12-14 13:42] shrmrf commented on #214
Hey @gvancuts ... thanks a lot for the help. I think I can figure out the rest of the story 👍

There was also usb_acm in my search results. Wonder if we need to set it to be included. I'll experiment now and let you know.

[2016-12-14 13:46] gvancuts commented on #214
Sounds good, good luck and keep us posted!

[2016-12-15 07:51] shrmrf commented on #214
Hello @gvancuts ... unfortunately, I'm still stuck. I've tried to generate a `.config` file with all the necessary drivers selected. I'm not sure how we can include the necessary changes to our configuration.

What I tried to do also was modify `meta-ostro-bsp/recipes-kernel/linux-yocto/linux-ostro/quark/defconfig` using menuconfig. Interestingly, the following options were already selected:
[code

[2016-12-15 08:08] shrmrf commented on #214
When I unplug/plug the peripheral, I see these messages...
[code]

Are we maybe looking at the wrong drivers to enable?

here's the output of `lsmod` (note that `ohci_pci` has no driver loaded)...

[code]

[2016-12-15 08:30] shrmrf commented on #214
btw, I'm doing `bitbake -k ostro-image-swupd` (not noswupd) ... shouldn't be a problem, right?

[2016-12-15 09:59] mythi commented on #214
On Thu, Dec 15, 2016 at 10:30 AM, T wrote:

Not a problem but you take an unnecessary hit in time when using
```swupd``` in debugging.

[2016-12-15 10:02] shrmrf commented on #214
@mythi ... yeah... I'm trying a clean build now. Do you think I should delete the `tmp` folder and do a clean build? I noticed that image size didn't change because of my changes to `defconfig`

[2016-12-15 10:22] gvancuts commented on #214
Hi @shrmrf , modifying a kernel config in Yocto/Ostro can be a little tricky. We wrote up some steps to help with this, have a look here: https://ostroproject.org/documentation/howtos/modifying-ostro-kernel.html

The quick summary is there are a couple of steps needed after you've run "bitbake linux-yocto -c menuconfig" and modified the kernel config, namely:
$ bitbake -f linux-yocto -c compile
$

[2016-12-15 10:25] shrmrf commented on #214
I've already started the build...
[code]

[2016-12-15 10:51] shrmrf commented on #214
@gvancuts When I do a `bitbake linux-yocto -c menuconfig`, it asks me whether I want to save it in a `.config` file. I leave the default as is. Is it possible that I am not saving it to the correct place? Should I save it to `defconfig` somewhere for example? My assumption is that the `.config` file will automatically be recognized by bitbake and will be used. I do not have documentation to assert

[2016-12-15 11:03] shrmrf commented on #214
@gvancuts and @mythi I've the same problem... https://github.com/ostroproject/ostro-os/issues/214#issuecomment-267293379

[2016-12-15 11:35] gvancuts commented on #214
@shrmrf , saving it to `.config` (as proposed by `menuconfig`) is the right thing to do. Did you use the `-f` flag in the next two calls to `bitbake`?

It's also very important that you issue these `bitbake` commands **right** after re-configuring the kernel. Do not do a (simpler) `bitbake linux-yocto` as this will reset the configuration of the kernel.

[2016-12-15 11:37] shrmrf commented on #214
@gvancuts ... seems like I missed the `-f` at least in my last attempt. Trying once more...

[2016-12-15 11:41] gvancuts commented on #214
That could explain what you're seeing... if things don't work out as expected, it may be interesting to look inside the log for the last few commands (they're all placed in tmp-glibc/log/cooker/intel-quark/)

[2016-12-15 12:14] shrmrf commented on #214
WOAH!!! Thanks @gvancuts and @mythi ... I think we got there!!!

[code]

[2016-12-15 12:14] #214 closed

[2016-12-15 12:19] gvancuts commented on #214
Nice one, have fun!

[2016-12-15 12:22] shrmrf commented on #214
So this was the build I did by:
- Deleting the build directory
- Sourcing the oe-init-build-env again
- changing `conf/local.conf` to enable development images
- doing
  - `bitbake -f linux-yocto -c compile`
  - `bitbake -f linux-yocto -c compile_kernelmodules`
  - `bitbake ostro-image-noswupd  # note, no -f flag`

### Notes
The above is the only way I got it working. Even if I repeat the above st

[2016-12-15 13:38] gvancuts commented on #214
And I guess you also uncommented the following line in conf/local.conf, didn't you?

[code]

Missing a `$ bitbake linux-yocto -c menuconfig` I guess

You're welcome ;)

[2016-12-15 13:40] shrmrf commented on #214
@gvancuts yes, yes :) I over summarized the cleaning pains and forgot the other important stuff...

[2016-12-22 11:50] sysarcher commented on #200
@dangpzanco if you're doing your own build, try define `OSTRO_ROOT_AUTHORIZED_KEYS = "ssh-rsa AAAAB3N ... .."` in your `local.conf`

The other solution is to copy your pubkey to authorized_keys yourself (similar to what @avalluri says) after first boot...
[code]

[2016-12-22 11:55] sysarcher opened #217 "Fatal QA error with `ostro-image-swupd`"
Hello everybody,

I'm getting the following error while doing `swupd` builds if I have `OSTRO_IMAGE_EXTRA_FEATURES` defined (see my `local.conf` here: https://gist.github.com/shrmrf/cdac935fab6175aac9734604f04ccbc3#file-local-conf-sh-L147)

The line highlighted in the link above is what seems to cause the problems. *If I comment it out, then we do not get this error.* The error log is pasted below

[2016-12-22 11:55] sysarcher commented on #217
to be clear, the issue does not happen with `noswupd` builds.

[2016-12-22 12:47] gvancuts commented on #217
Hi @shrmrf , just to be sure, are you saying the error goes away if you comment out the line defining OSTRO_ROOT_AUTHORIZED_KEYS?

[2016-12-22 12:49] sysarcher commented on #217
Hello @gvancuts ... sorry, I had the wrong link (from another issue I tried to help out on)... I've fixed the link. I commented out `OSTRO_IMAGE_EXTRA_FEATURES` line.

Sorry for the wrong link.

[2016-12-22 13:11] gvancuts commented on #217
No worries @shrmrf , thanks for the clarification. I've just taken a quick look at the recipe for `util-linux` (which provides `/bin/getopt.util-linux`) but I don't see anything obviously wrong in it. I'll need to test this a bit unless others have an idea as to what's causing this.

It's curious that the `noswupd` image does not exhibit this problem... perhaps swupd-client messes things up when i

[2016-12-22 13:27] sysarcher commented on #217
Hey @gvancuts ... Can't say anything but... I just observed that if I remove `tools-sdk` and use `OSTRO_IMAGE_EXTRA_FEATURES = "dev-pkgs dbg-pkgs"` instead, the error does not occur. Might help us narrow down the problem... (but you're the expert)

[2016-12-22 13:56] sysarcher commented on #217
Yup, I can confirm the behavior. Adding `tools-sdk` to this list causes the Dangling symlink.

[2016-12-22 14:13] mythi commented on #217
@shrmrf And is it still the case that  ```noswupd``` works but with ```swupd``` you get the sanity check error?

[2016-12-22 14:15] sysarcher commented on #217
@mythi yes. Like I said [here](https://github.com/ostroproject/ostro-os/issues/217#issuecomment-268804341), seems to be the `tools-sdk` ... If I remove this feature, the `swupd` image build throws no QA issue.

[2016-12-23 07:09] sysarcher commented on #217
Any idea on why I might be seeing this problem adding `tools-sdk` to the `swupd` image?

[2016-12-23 09:06] gvancuts commented on #217
I don't have a good idea yet but based on my investigation so far I suspect something not set properly between `busybox` (which is the provider of `getopt` in Ostro) and `util-linux`. It looks like in general, we do have a few sub-packages from `util-linux` being installed but never the `util-linux-getopt`. Why is that one pulled in when you add `tools-sdk` to your image is still beyond me.

[2016-12-23 09:57] gvancuts commented on #217
I'm getting a little lost trying to understand what is happening. We do some on-the-fly modifications with regards to priorities when there are multiple packages providing the same functionalities... based on my reading, `util-linux` has a higher alternative (in Ostro) than `busybox` and is installed by default. But based on that, I do not understand why `util-linux-getopt` is not installed in our

[2016-12-28 09:55] pohly commented on #217
On Thu, 2016-12-22 at 23:09 -0800, T wrote:

I suspect (but haven't verified because I am still on vacation) that the
extra components (in particular, util-linux) get added to the
bundle-ostro-image-swupd-mega image (aka the "full image") but not to
ostro-image-swupd (aka core-os bundle).

The /bin/getopt then has the value from bundle-ostro-image-swupd-mega
also in the ostro-image-swupd, but the

[2016-12-28 16:00] sysarcher commented on #217
Hello @pohly yeah... have fun during the holidays 👍

I've decided over the holidays to Ostro-cize the Gateway solution at our startup which is based on top of the Intel Galileo platform. Yaay! (really happy with the `noswupd` images until now. looking forward to setting up an upgrade system on our servers)

[2017-01-04 15:57] pohly commented on #217
The chain of events leading to the failure is:
      * the "dev" bundle enables the "ptest" feature
      * the "tools-sdk" feature installs quilt
      * quilt-ptest has a hard runtime dependency on util-linux-getopt
      * => util-linux-getopt gets installed in some images. but not the
        core image

I'm tempted to blame quilt-ptest here. Installing a test package should
not change core OS

[2017-01-05 07:37] sysarcher commented on #217
Hello @pohly thank you very much. I'll give it a shot today!!

[2017-01-05 13:41] sysarcher commented on #217
Builds like a charm now [after doing the changes in your comment](https://github.com/ostroproject/ostro-os/issues/217#issuecomment-270406357)!! Thanks @gvancuts and @pohly !!

Updates seem to work well over the internet too! Awesome. You can close this issue if you want to.

[2017-01-05 14:15] pohly commented on #217
Yes, let's close the issue. It's not really a bug.

[2017-01-05 14:15] #217 closed, assigned to nobody

[2017-03-08 15:05] sysarcher opened #219 "`python-pyzmq` installation fails on build step"
I'm using this `local.conf` file: https://gist.github.com/shrmrf/cdac935fab6175aac9734604f04ccbc3#file-local-conf-sh-L339

Has anyone else tried to install pyzmq? What am I possibly doing wrong?

On line 339, I am trying to build `pyzmq` which seems to fail. Below is the error log (and warnings):-

[code]

[2017-03-08 15:42] sysarcher commented on #219
It goes without saying.. but removing `python-pyzmq` doesn't throw the error :)

[2017-03-10 17:32] gvancuts commented on #219
Can you try with this patch:
[code]

That solves the problem for me (although I will also shamelessly claim that I don't really know why :-))

[2017-03-10 21:21] sysarcher commented on #219
WHAT? Thanks a lot @gvancuts ... what led you towards this fix?

Thanks again!!

[2017-03-10 21:23] sysarcher commented on #219
You can close this issue if you want. Or after you've pushed the change? Or, I can close it if you'd like.

[2017-03-13 11:17] gvancuts commented on #219
Hi @shrmrf ... that was a rather wild guess to be honest. I have seen similar issues that were resolved that way and when I see that some references are not found although the dependent libraries are there, then this is my next try. I assume it must have to do with the fact some components just do not cope very well with the PIE flag (Position-Independant Executable). As a further hint, the `zerom

[2017-03-28 12:27] nataliath commented on #203
When I run simpleclient in <iotivity>/out/linux/x86_64/release/resource/examples I have this output:
---------------------------------------------------------------------
Usage : simpleclient <ObserveType> <TransportType>
   ObserveType : 1 - Observe
   ObserveType : 2 - ObserveAll
   TransportType : 1 - IP
   TransportType : 2 - TCP
----------------------------------------------------------------

[2017-03-28 12:30] nataliath opened #220 "Error when running simpleclient - GET Response error: 29"
When I run simpleclient in <iotivity>/out/linux/x86_64/release/resource/examples I have this output:

[code]

Anyone know about the error?

[2017-03-30 12:43] gvancuts commented on #220
Hi @nataliath , can you tell us a bit more about your environment? What is the OS version you're running on and other relevant info?

[2017-03-30 13:00] nataliath commented on #220
Thank you for your reply.
Yes I am following these instructions:
https://www.iotivity.org/documentation/linux/getting-started

(I downloaded the iotivity source code and didn't followed the five steps)

When I execute the
`$ ./simpleclient`
command in the terminal it returns this error and can't execute GET, PUT.

Simpleserver is in another terminal.

[2017-03-30 14:53] gvancuts commented on #220
Hi @nataliath , I saw you posted the same question to the iotivity-dev mailing list. That is the right course of action and the IoTivity community is the right one for answering your question (especially since you do not seem to use Ostro). Can you close this issue?

[2017-03-30 15:07] #220 closed, assigned to nobody

[2017-03-30 15:39] nataliath commented on #220
@gvancuts Thank you!!

[2017-05-21 10:08] #219 closed, assigned to nobody

[2018-01-15 14:08] Junaidsakib opened #221 "Cant get java to run on Ostro"
I have built a Ostro image from the current repo and built this on a 14.04 Ubuntu machine. I have successfully installed this on a target machine with intel i7-64 bit architecture. As per my opinion Java should have come packaged with this however when I type java -version on the command line (Inside the target) I get Java command not found. How to overcome this and what do I miss. Please consider

[2018-01-16 08:35] gvancuts commented on #221
You need to instruct the build system to add the JRE if it's not included by default. You can find instructions on how to do this [here](https://ostroproject.org/documentation/howtos/building-images.html#installing-additional-packages). You'll need to determine exactly what package(s) you want to add (e.g. openjre-8, openjk-7, ecc.). You may also need to add a few variables to define PREFERRED_PRO

[2018-01-16 14:00] Junaidsakib commented on #221
I have tried everything you mentioned, but I cant get Java to run. I have rigirously followed the guides you mentioned.

[2018-01-16 15:22] gvancuts commented on #221
Can you check if whatever JDK you added was successfully built and added to the image?  From your build folder:
[code]

[2018-01-16 15:29] Junaidsakib commented on #221
The manifest does not contain anything as Java or Jre

[2018-01-16 15:33] Junaidsakib commented on #221
Specifically I think i am not able to whitelist java while as the guide states something like:
SUPPORTED_RECIPES_append = " ${TOPDIR}/conf/my-supported-recipes.txt"
OSTRO_IMAGE_EXTRA_INSTALL += "tcpdump"

However what would be the Java equavalent?

[2018-01-17 13:56] gvancuts commented on #221
Is there any particular version of Java you would like to use? If not, I would start with `openjre-8`.

Are you getting any error message? If this is a problem with the whitelisting, I'd expect you see something like this on the screen:
[code]

[2018-01-17 14:10] Junaidsakib commented on #221
Thanks I got this working with the openjdk-8 I had to add this entry in the Local.conf and also in the manifest it was listed as openJdk and not as java or jvm so my search was failing. Now I am finding problems with getting the WIFI up. Thanks a lot for the help

[2018-01-17 15:18] gvancuts commented on #221
Glad to hear you got past this problem. I'll let you close this ticket if you believe it's all clear now. Feel free to open new tickets for other problems you face although I'll reiterate my initial warning that the Ostro OS is no longer maintained and hasn't been updated for over a year. Depending on your exact needs, I would suggest you look for an alternative distribution that is still being ma

[2018-01-17 15:46] Junaidsakib commented on #221
Thanks @gvancuts I am doing this for an experimental project and plan to shift to Yocto for a Production image. I had got this piece of hardware with Ostro baked into it but it did not contain java which was required for my coding part. So I thought for a starter it would be a good start to go ahead with Ostro for now.

[2018-01-17 15:46] #221 closed, assigned to nobody